<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <% if (layout.title) { %><title><%= layout.title() %></title><% } else { %><title>Vako App</title><% } %>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>My Vako App</h1>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
        <main>
            <% layout.section('content') %>
        </main>

        <footer>
            <p>&copy; 2025 Vako App</p>
        </footer>
    </body>
</html>